body {
  background-color: #B15D5D;
}

.lane {
    width: 300px !important;
}

.row-lane {

    flex-wrap: nowrap !important;

  }
.cursor-pointer {
  cursor: pointer;
}





/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #e69898 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e69898;
    border-radius: 10px;
  }



  /* ==== Skeleton Loading ==== */
  .skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  .skeleton-text {
    width: 80%;
    height: 1.25rem;
    margin-bottom: .5rem;
    border-radius: .25rem;
  }
  .skeleton-title {
    width: 80%;
    height: 1.75rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
  }

  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }