.lane {
    width: 300px !important;
}

.row-lane {

    flex-wrap: nowrap !important;

  }
.lane-card {
  cursor: pointer;
}





/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #98ace6 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #98ace6;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }



  /* ==== Skeleton Loading ==== */
  .skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }

  .skeleton-text {
    width: 80%;
    height: 1.25rem;
    margin-bottom: .5rem;
    border-radius: .25rem;
  }

  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }